---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)} class="">
  <a
    href=`${blok.href}`
    class="text-zinc-900 hover:text-zinc-500 transition-all ease-soft-spring duration-250 font-medium text-lg"
    >{blok.links}</a
  >
</div>
